/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom site styles */
/* 
  Using Minor Third Modular Scale: 
  http://www.modularscale.com/?18&px&1.2&web&text
*/

body {
  font-size: 1.125em; /* 18px/16px = 1.125 */
  line-height: 1.4400000000000002em; /* 25.92px / 18px */
  padding-top: 1.4400000000000002em; /* 25.92px / 18px */
  padding-left: 1.200em; /* 5:6 ratio on baseline */
  padding-right: 0.600em; /* half the 5:6 ratio */
  text-size-adjust: 100%;
}


h1 {
  font-size: 5.695em; /* 102.510 / 18 */
  line-height: 1.66666666666666666666em; /* 85.425 * 2 / 102.510 */
  padding-top:  .83333333333333333333em; /* 85.425 / 102.510 */
  padding-bottom: 1.66666666666666666666em; /* 85.425 * 2 / 102.510 */
}


h2 {
  font-size: 3.797em; /* 68.346 / 18 */
  line-height: 1.6666666666666667em; /* 56.955 * 2 / 68.346 */
  padding-top: 0.8333333333333334em; /* 56.955 / 68.346 */
  padding-bottom: 1.6666666666666667em; /* 56.955 * 2 / 68.346 */
}

h3 {
  font-size: 2.531em; /* 45.558 / 18 */
  line-height:1.65261863997541595329em; /* 37.645 * 2 / 45.558 */
  padding-top: .82630931998770797664em; /* 37.645  / 45.558 */
  padding-bottom: 1.65261863997541595329em; /* 37.645 * 2 / 45.558 */
}








